__pycache__/
bookstorescrape/__pycache__/
bookstorescrape/spiders/__pycache__/
config.ini
.venv
*.env
.git
.DS_Store
.gitignore
pip-log.txt
build/
dist/
n8n_ssh_key
README.md
jcb.json
wsb_report.png
log
logs/